**/node_modules/

# Build outputs
backend/dist/
frontend/.next/
frontend/out/

# Environment files
**/.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor configuration files
.vscode/
.idea/